.App {
  text-align: center;
  background: #F3F3F3;
}

.title{
  font-size: 30px;
  text-align: left;
  margin: 20px 0 0 50px;
  margin-left: 50px;
  font-weight: 600;
}

a{
  text-decoration: none;
}